In [11]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [12]:
from config import db_password

In [17]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/heart_disease"

In [25]:
engine = create_engine(db_string)

In [36]:
cnx = engine.connect()

In [42]:
df = pd.read_sql_table('patient', cnx)
df = pd.DataFrame(df)
df

,patient_id,age,sex,cp,threstbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,target
0,0,52,1,0,125,212,0,1,168,0,1.0,2,2,0
1,1,53,1,0,140,203,1,0,155,1,3.1,0,0,0
2,2,70,1,0,145,174,0,1,125,1,2.6,0,0,0
3,3,61,1,0,148,203,0,1,161,0,0.0,2,1,0
4,4,62,0,0,138,294,1,1,106,0,1.9,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,1020,59,1,1,140,221,0,1,164,1,0.0,2,0,1
1021,1021,60,1,0,125,258,0,0,141,1,2.8,1,1,0
1022,1022,47,1,0,110,275,0,0,118,1,1.0,1,1,0
1023,1023,50,0,0,110,254,0,0,159,0,0.0,2,0,1
1024,1024,54,1,0,120,188,0,1,113,0,1.4,1,1,0

In [43]:
X = df.drop(columns=["patient_id","target"])
y = df.target

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1, stratify=y)

In [46]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

model = BalancedRandomForestClassifier(random_state=1)

model.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [47]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

1.0

In [48]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[125,   0],
       [  0, 132]])

In [49]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      1.00      1.00      1.00      1.00      1.00       125
          1       1.00      1.00      1.00      1.00      1.00      1.00       132

avg / total       1.00      1.00      1.00      1.00      1.00      1.00       257

In [50]:
# List the features sorted in descending order by feature importance

d = {"variables":X.columns, "importance":model.feature_importances_}

importance = pd.DataFrame(d)

importance.sort_values(by = "importance",ascending=False, inplace =True)

importance

    variables  importance
2          cp    0.147505
7     thalach    0.128597
11         ca    0.125006
9     oldpeak    0.112619
0         age    0.103207
8       exang    0.088589
4        chol    0.084664
3   threstbps    0.082219
10      slope    0.054734
1         sex    0.040986
6     restecg    0.021333
5         fbs    0.010540